@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.home {
  display: flex;
  text-align: center;
  max-width: 1200px;
  padding: 20px;
  margin: 50px auto;
  height: auto;
}

.card {
  background-color: #fff;
  width: 100%;
  max-width: 545px;
  padding: 20px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 20px;
}

.headers {
  font-size: 24px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.card h1 {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.btn-active {
  background-color: #007bff;
  margin: 0 auto;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.btn-active:hover {
  background-color: #0056b3;
}

.apartment {
  width: 100%;
  max-width: 595px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media all and (max-width: 1000px) {
  .home {
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  }

}

@media (min-width: 768px) {
  .Home {
    height: 544px;
    justify-content: space-between;

  }

  .card {
    width: 49%;
    max-width: none;
  }
}

@media (max-width: 767px) {
  .Home {
    flex-direction: column;
    align-items: center;
   
  }
  .card h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .card {
    width: 100%;
    max-width: none;
  }
}

@media all and (max-width: 500px) {
  .card h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .btn-active {
    font-size: 14px;
    padding: 10px 10px;
  }
  .home{
    margin: 0px auto;
  }
  .apartment {
    min-width: 300px;
  
  }
}
